$container-background: rgba(255, 255, 255, 0.8);

// Hero card
$card-background: #fff;
$card-shadow: rgba(0, 0, 0, 0.3);
$hero-number-background: rgba(255, 0, 0, 0.8);
$hero-number-text: #fff;

$hero-info-nickname-color: rgba(255, 0, 0, 0.8);
$hero-info-text-color:rgb(109, 109, 109);

$input-text-color: gray,

