<div class="edit-hero-wrapper">
  <div *ngIf="hero"
       class="edit-hero-card">
    <img src={{hero._picture}}
         class="edit-hero-card--hero-image"
    >
    <form [formGroup]="heroForm">
      <div class="edit-hero-card--form">
        <div class="nickname"> {{hero._nickname}} </div>
        <input type="text" formControlName="name">
        <input type="text" formControlName="height">
        <div class=actions>
          <button class="actions--cancel"
                  (click)="return()">
            Regresar
          </button>
          <button class="actions--update"
                  [disabled]="heroForm.pristine"
                  (click)="updateHero()">
            Enviar
          </button>
        </div>
      </div>
    </form>
  </div>
</div>
