@import '../../../assets/scss/variables';

%form-elements {
  border-radius: 5px;
  height: 30px;
}

%hover-elements {
  font-weight: 500;
  cursor: pointer;
}

.edit-hero-wrapper{
  display: flex;
  justify-content: center;

  .edit-hero-card{
    border-radius: 10px;
    background-color: $container-background;
    padding: 20px;
    width: 300px;
    text-align: center;

    &--hero-image{
      border-radius: 50%;
      height: 150px;
      width: 150px;
    }
    &--form{
      .nickname{
        margin-top: 15px;
        font-size: 18px;
        font-weight: bold;
        color: $hero-info-nickname-color;
      }

      input{
        width: 90%;
        border: none;
        color: $input-text-color;
        font-size: 13px;
        margin-top: 15px;
        @extend %form-elements;
      }

      .actions{
        margin: auto;
        margin-top: 15px;
        width: 90%;
        display: flex;
        justify-content: space-evenly;

        &--cancel{
          @extend %form-elements;
          width: 100px;
          &:hover{
            @extend %hover-elements;
          }
        }

        &--update{
          @extend %form-elements;
          width: 100px;
          &:hover{
            @extend %hover-elements;
          }
        }
      }
    }
  }
}
